<yandex>
    <logger>
        <level>information</level>
        <log>/var/log/clickhouse-server/clickhouse-server.log</log>
        <errorlog>/var/log/clickhouse-server/clickhouse-server.err.log</errorlog>
        <size>1000M</size>
        <count>10</count>
    </logger>

    <listen_host>0.0.0.0</listen_host>
    <tcp_port>9000</tcp_port>
    <http_port>8123</http_port>

    <remote_servers>
        <main_cluster>
            {% for host in groups['clickhouse'] %}
            <shard>
                <internal_replication>true</internal_replication>
                <replica>
                    <host>{{ hostvars[host]['ansible_host'] }}</host>
                    <port>9000</port>
                </replica>
            </shard>
            {% endfor %}
        </main_cluster>
    </remote_servers>

    <zookeeper>
        {% for zk in groups['clickhouse'] %}
        <node>
            <host>{{ hostvars[zk]['ansible_host'] }}</host>
            <port>2181</port>
        </node>
        {% endfor %}
    </zookeeper>

</yandex>

